<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>@nomadreservations/ngx-stripe</span>
    <span class="fill-space"></span>
    <a mat-button href="https://github.com/nomadreservations/ngx-stripe" target="_blank">
      <mat-icon fontSet="mdi" fontIcon="mdi-github-box"></mat-icon>
      Github
    </a>
    <a mat-button href="/api" target="_blank">
      <mat-icon fontSet="mdi" fontIcon="mdi-file-document"></mat-icon>
      Documentation
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-form-field>
      <input matInput type="text" placeholder="Stripe Test Key" [formControl]="stripeKey" (blur)="keyUpdated()">
      <mat-error *ngIf="stripeKey.invalid">{{keyError}}</mat-error>
    </mat-form-field>

    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions" (change)="cardUpdated($event)" (error)="error = $event"></ngx-stripe-card>
    <mat-error>
      {{error?.message}}
    </mat-error>
    <button mat-raised-button (click)="getCardToken()" color="primary" [disabled]="!complete">Get Card Token</button>

  </mat-card>
</div>
